.contenedor {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);

    /* start: a la izquierda, end: a la derecha, auto y stretch: todo el ancho, center: en el centro */
    /* alineación Horizontal */
    justify-items: center; 

    /* alineación vertical */
    align-items: center;
}

    /* alineación de elementos, se gasta el self: el elemento mismo  */
    /* auto | start | center | end | stretch */
.contenedor .item-5 {
    background: #ff8000;
    justify-self: stretch;
    align-self: stretch;
}
/* auto | start | center | end | stretch */
.contenedor .item-9 {
    background: red;
    justify-self: stretch;
    align-self: end;
}
