.contenedor {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;  /* fr: es una fracción para dividir la grid exactamente */
    grid-template-rows: 150px 300px;
    grid-gap: 20px;  /* espacio entre elementos */
}