@media (min-width: 800px) {
  header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "h1    navbar  navbar";
  }

  header h1 {
    grid-area: h1;
    justify-self: center;
    align-self: center;
  }

  header .menu-bar {
    display: none;
  }

  header .navbar {
    grid-area: navbar;
    justify-self: center;
    align-self: center;
    visibility: visible;
    background-color: #16181d;
  }

  header .navbar .menu li {
    display: inline-block;
    cursor: pointer;
  }

  #submenu {
    margin: 0px;
    display: none;
    height: 120px;
  }

  header li:hover {
    background: red;
    width: auto;
  }

  .menu-portafolio{
    position: relative;
  }

  .submenu{
    position: absolute;
    top: 100%;
    width: auto;
  }

}
